<h1><%= t "mail.password_reset" %></h1>

<p><%= t "mail.reset_part1" %></p>

<%= link_to t("reset.title"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t "mail.reset_part2" %></p>

<p><%= t "mail.reset_part3" %></p>
